.br3 {
  border-radius: 5rem; }

.form {
  background: #ffffff;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.conteneur > div:last-child {
  display: none; }

h1 {
  text-align: center;
  color: #212121;
  margin: 0 0 40px; }

label {
  position: absolute;
  left: 13px;
  font-size: 22px; }

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  color: #ffffff;
  border-radius: 0; }

.conteneur-label {
  position: relative;
  margin-bottom: 40px; }

.conteneur-form:after {
  content: "";
  display: table;
  clear: both; }

.button {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  min-height: 70px;
  display: block;
  width: 100%;
  font-size: 26px; }

.avatar {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-top: -40px;
  margin-left: 200px; }

.vatar1 {
  width: 100px; }

.pass-oublie {
  margin-top: -20px;
  text-align: right; }

.pass-oublie {
  margin-top: -20px;
  text-align: right; }

.card {
  padding: 20px 20px;
 box-shadow: 2px 2px;
  transition: 0.3s;
  background-color: #ffffff;
  position: relative;
  margin-top: 10px;
  border-radius: 5px 5px;
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto; }

.text-card {
  font-family: tahoma;
  color: #dd2c00; }

.button-card {
  text-decoration: none;
  color: #fff;
  background-color: #26a69a;
  text-align: center;
  letter-spacing: .5px;
  display: block;
  font-size: 26px;
  border-radius: 10px; }

.button-card {
  color: #ff4c4c;
  background-image: none;
  background-color: transparent;
  border-color: #ff4c4c; }

.conteneur1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; }

.conteneur2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.text-card {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  font-family: tahoma; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px; }

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block; } }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); }

.container {
  padding: 0 16px; }

.container::after, .row::after {
  content: "";
  clear: both;
  display: table; }

.title {
  color: grey; }

.button1 {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%; }

.button:hover {
  background-color: #555; }

body, html {
  margin: 0;
  padding: 0; }

.wrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px; }

.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 2px #000; }

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1; }

.static {
  background-image: url("../images/im2.jpg"); }

.bg1::after {
  background-image: url("../images/paral.jpg"); }

.bg2::after {
  background-image: url("../images/parallax2.jpg"); }

.test {
  text-align: justify;
  font-size: 15px;
  font-weight: 700;
  opacity: 1;
  color: #3c3f61;
  padding-top: 5%;
  color: 323369; }

  .parallax {
    background-image: url("../images/paral.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}